---
// Import necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import MainSection from "@components/ui/blocks/MainSection.astro";
import NormalContent from "@components/ui/blocks/NormalContent.astro";
import CoFounderSection from "@components/ui/blocks/CoFounderSection.astro";
import LeftSection from "@components/ui/blocks/LeftSection.astro";
import RightSection from "@components/ui/blocks/RightSection.astro";
import MacBookAir from "@images/MacBookAir.png";
import MedicalFormPhone from "@images/medical_signature.png";
import RegisrationPagePhone from "@images/registration_page_med_required.png";
import CustomWaivers from "@images/custom_waivers_2.png";
import StaffCalIpad from "@images/staff_calendar_ipad.png";
import DataBase3 from "@images/customer_database3.png";
import TestimonialsSectionAlt from "@components/sections/testimonials/TestimonialsSectionAlt.astro";

// Import necessary images
import { SITE } from "@data/constants";

interface Article {
  isRightSection: boolean;
  title: string;
  content: string; // HTML string
  btnExists?: boolean;
  btnTitle?: string;
  btnURL?: string;
  single?: boolean;
  img?: any;
  imgAlt?: string;
  imgOne?: any;
  imgOneAlt?: string;
  imgTwo?: any;
  imgTwoAlt?: string;
}



const pageTitle: string = `About | ${SITE.title}`;
---

<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://diversdesk.com/About",
    "url": "https://diversdesk.com/About",
    "name": "Expert Consultation Services | Diversdesk",
    "description": "Uniting expertise with your vision, Diversdesk provides exceptional service and comprehensive solutions in the hardware and construction industry, from consultation to project completion.",
    "isPartOf": {
        "@type": "WebSite",
        "url": "https://diversdesk.com",
        "name": "Diversdesk",
        "description": "Diversdesk offers top-tier hardware tools and expert construction services to meet all your project needs."
    },
    "inLanguage": "en-US"
  }}
>

<NormalContent
  title="From Passion to Solution: The Diversdesk Story"
  chapters={[
    {
      content: "Diversdesk originated as a passion project during the COVID pandemic, fueled by our deep love for diving and a strong awareness of the daily challenges faced by dive centers. As we built close relationships within the industry, we were frequently asked if we could develop a solution to streamline dive center operations. Leveraging the robust foundation of our marketplace backend, we recognized the opportunity to create a comprehensive Dive Center Management system."
    },
    {
      content: "Collaborating directly with dive centers in Indonesia—particularly in the most tourism-driven and dynamic diving locations—we tailored our solution to meet the specific needs of the industry. Our first milestone was the development of an efficient planner, scheduling, and booking system. From there, we streamlined the digital onboarding process, enabling dive centers to onboard customers paperlessly."
    },
    {
      content: "Today, Diversdesk is active in five countries, with customers worldwide. We’re incredibly grateful to be able to work full-time on our passion, continuously developing new features. Recent innovations include a seamless bookkeeping integration and the ability to accept direct bookings through our customers' websites. And we're just getting started—our development is an ongoing process, and we invite our customers to subscribe to our newsletter to stay updated on what's next."
    },
    {
      title: "Vision Statement",
      content: "At Diversdesk, our vision is to revolutionize dive center management by providing innovative, user-friendly solutions that empower centers to focus on creating memorable experiences for their customers. We believe in a world where technology simplifies operations, reduces environmental impact, and enhances every diver’s journey. Through continuous development and close collaboration with our users, we aim to set the standard for dive center management worldwide, ensuring that diving is always about the adventure, not the paperwork."
    }
  ]}
/>

<!-- MainSection is the introductory section of the page, it also contains a CTA button-->
<CoFounderSection
  mainTitle="A Word From the Founders"
  leftTitle="Bart"
  leftSubtitle="Co-Founder & CEO"
  leftContent="As a devoted diver with over 12 years of experience as a project manager and business owner in the tech industry, I co-founded Diversdesk after witnessing firsthand the challenges dive centers face. Growing up in an entrepreneurial family, business and customer service are second nature to me. My goal? To create intuitive solutions that address these challenges head-on. I’m passionate about making diving and dive center management as seamless as possible, ensuring that every dive is about the adventure, not the paperwork. Whether it's streamlining operations or simplifying customer onboarding, I want to empower dive centers to focus on what they do best—delivering unforgettable experiences."
  leftImage="https://diversdesk.com/emailsignature/Bart.png"
  rightTitle="Ruben"
  rightSubtitle="Co-Founder & CTO"
  rightContent="I co-founded Diversdesk driven by curiosity and a passion for problem-solving. With 10 years of experience as a developer, I've had the privilege to work on various state-of-the-art projects and become an expert in database management. As I grew into a passionate diver, I aimed to innovate and enhance dive center operations. My goal is to make every center and diver’s experience smoother and more enjoyable. By focusing on user-friendly solutions and continuous innovation, I strive to transform how dive centers operate, ensuring a more seamless process for everyone involved."
  rightImage="https://diversdesk.com/emailsignature/Ruben1.png"
/>

  
  <!-- RightSection and LeftSection contain details about various services along with pertinent imagery.
  They alternate for variety in design.
  The 'btnExists' property is used to toggle the display of a button in these sections.
  When btnExists={true}, a button is displayed.
  This can be used to link to more detailed information or related resources.
  RightSection can also conditionally render one or two images based on the 'single' property.
  If 'single' is true, it displays one image, otherwise it displays two.
  -->

  <!--FeaturesStats section showcases essential stats valuable to users-->
  <!-- <FeaturesStats
    title="By the Numbers"
    subTitle="Our commitment to quality and reliability is evident in every project we undertake. At Diversdesk, we are dedicated to delivering industry-leading services that ensure your construction projects are built to last."
    mainStatTitle="96%"
    mainStatSubTitle="of our clients rate their experience with Diversdesk as exceptional"
    stats={[
      {
        stat: "99.8%",
        description: "project completion rate",
      },
      {
        stat: "5,000+",
        description: "successful installations",
      },
      {
        stat: "85%",
        description: "client growth year-over-year",
      },
    ]}
  />
</MainLayout>  -->


<section id="testimonials">
<!--Testimonials section-->
<TestimonialsSectionAlt
title ="Testimonials From Our Customers"
testimonials={[
{
  content: " \"I recently started using the dive management system from Divers Desk, and I must say it has completely transformed the way I handle my dive shop operations. The system is not only user-friendly but also incredibly efficient, allowing me to easily schedule dives, track payments, and effectively oversee and coordinate activities.\n What truly sets this system apart is the exceptional support provided by the team. Whenever I had a question or needed assistance, they were quick to respond and always went above and beyond to ensure that I had everything I needed to succeed. Their dedication to customer service is truly commendable. I can confidently say that Divers Desk, coupled with the outstanding support, has significantly improved my dive shop operations and overall experience. I highly recommend it to anyone in the diving industry looking for a reliable and supportive solution.\" ",
  author: "TI",
  role: "Owner | Jom Adventure",
  avatarSrc: "/images/ti_jomadventure_avatar.png",
  avatarAlt: "Image Description",
},
// Second testimonial data
{
content:
  " \"We at the Bali Dive Resort and Spa were looking for a paperless registration solution for a long time before we found ‘DiversDesk’.\n'DiversDesk' Scuba Diver Planner is an outstanding tool for any dive operation. Its user-friendly interface makes it easy to navigate, while features like paperless registration and pre-booked dive management streamline operations. Divers can complete all necessary paperwork, including medical forms and liability releases, before arriving, saving time and reducing paper use. \nWe are particularly impressed with the platform’s ease of use and the responsive support team, who listen to and act on our feedback. Regular updates ensure we always have the latest features. We highly recommend ‘DiversDesk’ to dive centers and resorts looking to save time, reduce paper usage, and enhance efficiency.\" ",
author: "Miikka",
role: "Manager | Bali Dive Resort and Spa",
avatarSrc: "/images/miikka_bdrs_avatar.png",
avatarAlt: "Image Description",
},
// Third testimonial data
{
content: " \"I cherish the day we started using the platform 'Diversdesk'. Since then, our booking system has improved in so many ways. We used to send our guests a Word registration form. Now, we send them a link from 'Diversdesk', and the rest practically goes by itself. Creating the booking link is now done under 2 minutes, and the response from our guests is super positive. We don't use any paperwork anymore because the medical form and liability release are filled in online. Super convenient, time saving, and most important, good for the environment!\n Last but not least, payments are much easier now. 'Diversdesk' manages our credit card payments and ensures we receive everything correctly. The service from 'Diversdesk' is exceptional. As someone who struggles with computers, I've asked for help many times, and they've always found a solution. If I can work with this platform, anyone can! Thank you 'Diversdesk' for saving the world 🌎 🫶\" ",
author: "Lars",
role: "Owner | S.E.A. Diving Bali",
avatarSrc: "/images/lars_seadb_avatar.png",
avatarAlt: "Image Description",
}
]}
/>
</section>