---
import MainLayout from "@/layouts/MainLayout.astro";
import TermsContent from "../terms/terms-conditions.mdx";
import { SITE } from "@data/constants";

const pageTitle = `Diversdesk - Terms of Service | ${SITE.title}`;
---

<MainLayout
  title={pageTitle}
>
  <slot name="head">
    <!-- Prevent indexing of the Terms and Conditions page -->
    <meta name="robots" content="noindex, nofollow" />
  </slot>

  <section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
    <div class="mx-auto max-w-2xl lg:max-w-5xl">
      <article class="prose dark:prose-dark max-w-none">
        <h1>Diversdesk - Terms of Service</h1>
        <TermsContent />
      </article>
    </div>
  </section>
</MainLayout>
