---
import Container from "@components/container.astro";

interface Props {
  title?: string;
  subTitle?: string;
}

const { title, subTitle } = Astro.props;

const companylogos = [
  {
    logo: "/images/Logo_A4D.png",
    alt: "All 4 Diving, Bali, Indonesia",
  },
  {
    logo: "/images/Logo_JOM.png",
    alt: "Jom Adventure Dive, Tioman, Malaysia",
  },
  {
    logo: "/images/Logo_BDR.png",
    alt: "Bali dive Resort and Spa, Bali, Indonesia",
  },
  {
    logo: "/images/Logo_SDB.png",
    alt: "S.E.A. Diving Bali, Bali, Indonesia",
  },
  {
    logo: "/images/Logo_Reeflex.png",
    alt: "Reeflex Dive Resort, Nusa Penida, Indonesia",
  },
  {
    logo: "/images/Logo_Purple.png",
    alt: "Purple Dive, Nusa Penida, Indonesia",
  },
  {
    logo: "/images/Logo_Bambu.png",
    alt: "Bambu Divers, Bali, Indonesia",
  },
  {
    logo: "/images/Logo_SilverReef.png",
    alt: "Silver Reef Dive Resort, Dauin, Philippines",
  },
  {
    logo: "/images/Logo_DI.png",
    alt: "Diving Indo, Bali, Indonesia",
  },
];
---

<Container class="mt-24 px-2 sm:px-2 lg:px-52">
  {title && (
    <h2 class="text-2xl lg:text-4xl font-bold lg:tracking-tight text-left">
      <span class="text-neutral-800 dark:text-neutral-100">{title}</span>
    </h2>
  )}
  {subTitle && (
    <p class="text-lg mt-4 mb-7 text-neutral-600 dark:text-neutral-200 text-left">
      {subTitle}
    </p>
  )}
</Container>

<div class="relative flex overflow-hidden py-5">
  <div class="animate-marquee-mobile md:animate-marquee w-auto flex flex-nowrap items-center gap-10 md:gap-20">
    {companylogos.concat(companylogos).map((item, index) => (
      <div class="flex justify-center items-center shrink-0 h-10 md:h-14 mx-4 md:mx-10">
        <img class="h-full object-contain" src={item.logo} alt={item.alt} loading="lazy" />
      </div>
    ))}
  </div>
</div>

<script src="/scripts/animation.js" is:inline></script>


