---
import Container from "@components/container.astro";

const companylogos = [
  {
    logo: "/images/Logo_SDB.png",
    alt: "S.E.A. Diving Bali, Bali, Indonesia",
  },
  {
    logo: "/images/Logo_A4D.png",
    alt: "All 4 Diving, Bali, Indonesia",
  },
  {
    logo: "/images/Logo_JOM.png",
    alt: "Jom Adventure Dive, Tioman, Malaysia",
  },
  {
    logo: "/images/Logo_BDR.png",
    alt: "Bali dive Resort and Spa, Bali, Indonesia",
  },
  {
    logo: "/images/Logo_FM.png",
    alt: "Fast Manta, Krabi, Thailand",
  },
  {
    logo: "/images/Logo_Reeflex.png",
    alt: "Reeflex Dive Resort, Nusa Penida, Indonesia",
  },
  {
    logo: "/images/Logo_Purple.png",
    alt: "Purple Dive, Nusa Penida, Indonesia",
  },
  {
    logo: "/images/Logo_Pure.png",
    alt: "Pure Dive Resort, Nusa Penida, Indonesia",
  },
  {
    logo: "/images/Logo_Bambu.png",
    alt: "Bambu Divers, Bali, Indonesia",
  },
  {
    logo: "/images/Logo_SilverReef.png",
    alt: "Silver Reef Dive Resort, Dauin, Philippines",
  },
  {
    logo: "/images/Logo_TSD.png",
    alt: "Thresher Shark Divers, Malapascua, Philippines",
  },
  {
    logo: "/images/Logo_DI.png",
    alt: "Diving Indo, Bali, Indonesia",
  },
];
---

<Container>
  <div class="mt-24">
    <h2 class="text-2xl lg:text-4xl font-bold lg:tracking-tight text-center">
      <span class="text-neutral-800 dark:text-neutral-100">Leading the Way in Dive Center Management</span>
    </h2>
    <p class="text-lg mt-4 text-neutral-600 text-center dark:text-neutral-200">
      Join top dive centers from around the world.
    </p>
  </div>
</Container>

<div class="mt-7 relative overflow-x-clip">
  <div
    class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-indigo-100 right-1/3 -top-10">
  </div>
  <div
    class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-purple-100 right-1/3 translate-x-2/3 top-10">
  </div>
  <div class="relative md:flex gap-6 overflow-hidden py-5 group">
    <div
      class="md:motion-safe:animate-marquee w-auto py-5 overflow-x-auto flex flex-nowrap min-w-full shrink-0 items-stretch gap-10 md:gap-20 snap-x snap-mandatory px-5">
      {companylogos.map((item) => (
        <div class="flex justify-center items-center shrink-0 h-16 mx-4 md:mx-10">
          <img class="h-full object-contain" src={item.logo} alt={item.alt} loading="lazy" />
        </div>
      ))}
    </div>
    <!-- Shadow DOM for smooth animation (clone) -->
    <div
      class="md:motion-safe:animate-marquee hidden md:motion-reduce:hidden md:flex min-w-full shrink-0 items-center gap-10 md:gap-20">
      {companylogos.map((item) => (
        <div class="flex justify-center items-center shrink-0 h-16 mx-4 md:mx-10">
          <img class="h-full object-contain" src={item.logo} alt={item.alt} loading="lazy" />
        </div>
      ))}
    </div>
  </div>
</div>