---
import Box from "@components/ui/box.astro";
const { logo, alt } = Astro.props;
---

<Box
  class="flex justify-center items-center snap-start snap-always shrink-0 first-of-type:scroll-m-10 scroll-m-5 h-20 p-0 border-none ring-0 outline-none shadow-none">
  <div class="flex items-center justify-center h-full w-full overflow-hidden">
    <img
      class="h-full w-full object-contain"
      src={logo}
      alt={alt}
      loading="lazy"
    />
  </div>
</Box>
