---
export const prerender = false;

const supportId = Astro.params.id;
const supportSourceFiles = import.meta.glob('/src/content/docs/support/*.{md,mdx}');

const supportDocExists = supportId
	? Object.keys(supportSourceFiles).some(
		(filePath) =>
			filePath.endsWith(`/support/${supportId}.md`) ||
			filePath.endsWith(`/support/${supportId}.mdx`),
	)
	: false;

if (supportDocExists) {
	return Astro.redirect(`/support/${supportId}/`, 307);
}

return Astro.redirect('/welcome-to-docs/', 307)
---
<div>redirecting</div>