---
import { getCollection } from 'astro:content';

export const prerender = false;

const supportId = Astro.params.id;
const supportDocId = supportId ? `support/${supportId}` : '';
const [supportDoc] = supportDocId
	? await getCollection('docs', ({ id }) => id === supportDocId)
	: [];

if (supportDoc) {
	return Astro.redirect(`/support/${supportId}/`, 307);
}

return Astro.redirect('/welcome-to-docs/', 307)
---
<div>redirecting</div>