---
const { title, chapters } = Astro.props;

interface Chapter {
  title?: string; // Make the title optional
  content: string;
}

interface Props {
  title: string;
  chapters: Chapter[];
}
---

<section
  class="mx-auto mt-10 max-w-[85rem] px-4 py-10 sm:px-6 sm:py-16 lg:px-8 lg:py-14 2xl:max-w-full"
>
  <div>
    <!-- Section title -->
    <h1
      class="mb-8 text-balance text-4xl font-extrabold tracking-tight text-neutral-800 dark:text-neutral-200"
    >
      {title}
    </h1>
    
    <!-- Chapter sections -->
    {chapters.map((chapter) => (
      <div class="mb-10">
        {chapter.title && (
          <h2 class="mb-4 text-balance text-3xl font-extrabold tracking-tight text-neutral-800 dark:text-neutral-200">
            {chapter.title}
          </h2>
        )}
        <div class="text-pretty font-light text-neutral-600 dark:text-neutral-400 sm:text-xl">
          {chapter.content}
        </div>
      </div>
    ))}
  </div>
</section>
