---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import Icon from "@components/ui/icons/Icon.astro";

// Define props from Astro
const { pricing } = Astro.props;

const features = [
  "Custom Domains",
  "Storage",
  "Users",
  "Email Support",
  "API Access",
  "SSO Integration",
  "Data Export",
  "File Uploads",
  "Analytics",
  "Custom Branding",
  "24/7 Support",
  "Priority Access",
  "Custom Reporting",
  "Team Collaboration",
  "Integration with CRM",
  "White Label",
  "Data Security",
  "Mobile App Access",
  "User Permissions",
  "Backup and Restore",
  // Add more features as needed
];

const plans = [
  {
    name: "CRM Only",
    price: "$25",
    color: "orange",
    values: [
      "Single Subdomain",
      "1GB",
      "10",
      "Email Only",
      "iconName",
      "circleCheck",
      "Limited",
      "Basic",
      "Limited",
      "-",
      "-",
      "-",
      "Basic",
      "-",
      "-",
      "-",
      "Basic",
      "-",
      "Limited",
      "-",
    ],
  },
  {
    name: "Starter",
    price: "$39/mo",
    color: "orange-400",
    values: [
      "1 Custom Domain",
      "10GB",
      "100",
      "Email and Chat",

      "-",
      "-",
      "Unlimited",
      "Basic",
      "Limited",
      "-",
      "-",
      "-",
      "Basic",
      "Limited",
      "-",
      "-",
      "Basic",
      "-",
      "Limited",
      "-",
    ],
  },
  {
    name: "Pro",
    price: "$59/mo",
    popular: true,
    color: "orange",
    values: [
      "5 Custom Domains",
      "50GB",
      "500",
      "Email, Chat, and Phone",
      true,
      "-",
      "Unlimited",
      "Advanced",
      "Limited",
      true,
      true,
      "-",
      "Advanced",
      true,
      "-",
      "-",
      "Advanced",
      true,
      "Unlimited",
      true,
    ],
  },
  {
    name: "Enterprise",
    price: "Custom",
    color: "black",
    values: [
      "100 Custom Domains",
      "200GB",
      "Unlimited",
      "24/7 Support",
      true,
      true,
      "Unlimited",
      "Advanced",
      "Unlimited",
      true,
      true,
      true,
      "Advanced",
      true,
      true,
      true,
      "Advanced",
      true,
      "Unlimited",
      true,
    ],
  },
];

const colors = {
  indigo: "text-indigo-600",
  orange: "text-orange-700",
  purple: "text-purple-600",
};
---


<Container>
  <div class="mt-16">
    <h3 class="text-xl lg:text-3xl font-bold lg:tracking-tight dark:text-neutral-200">
      Compare Plans
    </h3>
    <p class="mt-1 text-slate-600 dark:text-neutral-400">
      Use the table below to compare full features of this product.
    </p>
  </div>

  {/* Desktop Version */}
  <div
    class="mt-8 overflow-x-auto lg:overflow-visible w-full border border-neutral-300 rounded-md">
    <div class="min-w-max">
      <div
        class="sticky top-18 py-6  bg-white border-b border-neutral-300 rounded-t-md dark:bg-neutral-800 dark:border-neutral-600">
        <div class="grid grid-cols-5 gap-0 items-center bg-white dark:bg-neutral-800">
          <div class="text-slate-500 px-5 dark:text-neutral-200">Compare Plans</div>
          {
            plans.map((plan) => (
              <div class="px-5">
                <h3 class="dark:text-neutral-200">
                  {plan.name}
                </h3>
                <div class="text-xl mt-1 lg:text-2xl font-bold text-black dark:text-neutral-200">
                  {plan.price}
                </div>

                <div class="flex mt-3 ">
                  <Link
                    href="#"
                    block
                    size="sm"
                    >
                    Get Started
                  </Link>
                </div>
              </div>
            ))
          }
        </div>
      </div>

      <div class="grid grid-cols-5 gap-0 items-center">
        <div class="grid dark:text-neutral-300">
          {
            features.map((feature) => (
              <div class="border-b border-neutral-300 font-medium text-sm py-3 px-5 odd:bg-neutral-100
               dark:odd:bg-neutral-700 dark:border-neutral-600">
                {feature}
              </div>
            ))
          }
        </div>

        {
          plans.map((plan) => (
            <div class="grid gap-0 dark:text-neutral-300">
              {plan.values.map((value) => (
                <div class="border-b border-neutral-300 odd:bg-neutral-100 text-sm py-3 px-5
                 dark:odd:bg-neutral-700 dark:border-neutral-600">
                  {typeof value === "boolean" ? (
                      <Icon name="checkCircle" />
                  ) : (
                    value
                  )}
                </div>
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </div>
  <br/><br/>
</Container>
