---

---

<div class="flow-root">


    <div class="float-left w-1/4 p-10 text-sm text-gray-600">
        <ul>
            <li>
                Home
            </li>
            <li>
                Terms & Conditions
            </li>
            <li>
                Privacy policy
            </li>
            <li>
                Leave feedback / Contact
            </li>

        </ul>

        <div class="text-gray-400">
            @ 2024 diversdesk
        </div>
   
    </div>

</div>
