---
import { Image } from "astro:assets";
import Icon from "../../ui/icons/Icon.astro";
import FullStar from "@components/ui/stars/FullStar.astro";

const { content, author, role, avatarSrc, starCount } = Astro.props;

interface Props {
  content: string;
  author: string;
  role: string;
  avatarSrc: string;
  starCount: number;
}
---

<!-- Commented out blockquote -->
<blockquote class="relative flex flex-col h-full"> 
  <!-- Position the icon as a background element -->
  <!-- <Icon name="quotation" class="absolute top-0 left-0 opacity-10" /> -->
  <div class="flex-grow flex items-start relative z-10">
    <!-- Content Section -->
    <p class="text-xl italic text-neutral-800 dark:text-neutral-200 flex-grow">
      {content}
    </p>
  </div>

  <div class="mt-6">
    <div class="flex items-center">
      <div class="flex-shrink-0">
        <Image
          class="h-10 w-10 rounded-full"
          src={avatarSrc}
          alt="Avatar Description"
          loading={"eager"}
          inferSize
        />
      </div>
      <div class="ms-4 grow">
        <div class="flex items-center justify-between">
          <div>
            <div class="font-bold text-neutral-800 dark:text-neutral-200">
              {author}
            </div>
            <div class="text-xs text-neutral-500">{role}</div>
          </div>
          <!-- Star Rating -->
          <div class="flex ml-4 mr-10 gap-1.5">
            {Array.from({ length: starCount }).map(() => (
              <FullStar />
            ))}
          </div>
        </div>
      </div>
    </div>
  </div>
</blockquote>
